Repository mkardous-silabs/connectedhomeip, changes with the owners that CODEOWNERS names for each.
All owners: @jumartin, @jepenven, @ricasall, @makardou, @selissia, @rerasool, @mamehta, @wehale, @caowens, @anesbens, @dejensen, @thbowley, @dewassie, @svradema, @jsolesen, @gbash, @yushu, @shmakdis, @mirupp, @curahman, @huelsher, @@MatterWatt, @@CICD, @@Documentation, @@MatterGSDK, @@MatterWifi, @@Unify

Pull request #265: SLC component generation script
  slc/script/gen_components.py
Owners: none

Pull request #267: fix matter extension copy script
  slc/copy-extension.sh
Owners: none

Pull request #276: Move gsdk submodule to Stash staging branch
  .gitmodules
  slc/component/mbedtls_pkcs.slcc
  slc/lock-app/build.sh
  slc/script/gsdk_matter.patch
  src/platform/EFR32/CHIPCryptoPALPsaEfr32.cpp
Owners: @@MatterGSDK

Pull request #279: Remove apack.json patching in zap repo
  slc/lock-app/build.sh
Owners: none

Pull request #284: Update slcp to have include directory files
  slc/lock-app/lock-app.slcp
Owners: none

Pull request #298: Updated to include all necessary dirs to be copied
  slc/copy-extension.sh
Owners: none

Pull request #299: Add gnu++17 toolchain setting to the lock project.
  slc/lock-app/lock-app.slcp
Owners: none

Pull request #302: Override FreeRTOSConfig.h, other misc changes
  slc/component/matter.slcc
  slc/copy-extension.sh
  slc/lock-app/lock-app.slcp
Owners: none

Pull request #301: mbedtls_platform_set_calloc_free fix
  examples/platform/efr32/matter_config.cpp
  slc/component/matter.slcc
  slc/lock-app/lock-app.slcp
Owners: @@MatterGSDK

Pull request #306: Added missing .slcc file
  slc/component/matter_mbedtls.slcc
Owners: none

Pull request #307: Remove slash typo from copy-extension.sh
  slc/copy-extension.sh
Owners: none

Pull request #300: updates to metadata and doc for slc-integration
  matter_templates.xml
  slc/lock-app/readme.html
Owners: none

Add gnu++17 toolchain flag to the lock project file
  slc/lock-app/lock-app.slcp
Owners: none

Pull request #308: Add readme.html to the lock-app
  slc/lock-app/lock-app.slcp
Owners: none

Pull request #313: Re-add code accidentally removed in the initial SLC code drop
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/EFR32/gatt.btconf
Owners: @@MatterGSDK

Pull request #315: Move the gecko_sdk submodule to the staging/4.2/4.2.0-rc1 branch
  .gitmodules
  slc/lock-app/build.sh
Owners: none

Pull request #316: Added sed and low-power components, as well as a shell component.
  slc/component/matter_ble.slcc
  slc/component/matter_display.slcc
  slc/component/matter_low_power.slcc
  slc/component/matter_mbedtls.slcc
  slc/component/matter_platform_efr32.slcc
  slc/component/matter_qr_code.slcc
  slc/component/matter_sed.slcc
  slc/component/matter_shell.slcc
  slc/component/matter_thread_ftd.slcc
  slc/component/matter_thread_full.slcc
  slc/component/matter_thread_mtd.slcc
  slc/component/matter_thread_sed.slcc
  slc/lock-app/lock-app.slcp
Owners: none

Pull request #331: Added logging option for matter project into sl_matter_config.h and added a clean flag to build.sh
  slc/config/sl_matter_config.h
  slc/inc/core/CHIPBuildConfig.h
  slc/lock-app/build.sh
  slc/lock-app/lock-app.slcp
Owners: @@MatterGSDK

Pull request #334: Remove explicit board references from the lock project
  matter_templates.xml
  slc/component/autogen/chip_efr32_lock_example.slcc
  slc/component/autogen/libopenthread_cli_ftd.slcc
  slc/component/autogen/libopenthread_cli_mtd.slcc
  slc/component/autogen/libopenthread_efr32.slcc
  slc/component/autogen/libopenthread_ftd.slcc
  slc/component/autogen/libopenthread_mtd.slcc
  slc/component/autogen/libopenthread_platform_utils.slcc
  slc/component/autogen/libopenthread_radio.slcc
  slc/component/autogen/libopenthread_spinel_ncp.slcc
  slc/component/autogen/libopenthread_spinel_rcp.slcc
  slc/component/autogen/pw_rpc.slcc
  slc/component/autogen/sdk.slcc
  slc/lock-app/lock-app.slcp
  slc/script/gen_components.py
Owners: none

Pull request #351: Added missing flag --specs=nano.specs.
  slc/sample-app/lock-app/lock-app.slcp
Owners: none

Pull request #355: Removed the additional --specs=nano.specs arguments.
  slc/sample-app/lock-app/lock-app.slcp
Owners: none

Pull request #360: Update ZAP and GSDK submodules
  .gitmodules
  src/app/zap-templates/app-templates.json
Owners: @@MatterGSDK

Pull request #362: Update GSDK version to 4.2.0 in the SLCE file.
  matter.slce
  slc/sample-app/lock-app/lock-app.slcp
Owners: none

Pull request #363: Setting Matter extension version to 0.0.2
  matter.slce
  matter.slsdk
  slc/sample-app/lock-app/lock-app.slcp
Owners: none

Pull request #365: update gen_components to automatically detect the app being built based on argument passed
  slc/script/gen_components.py
Owners: none

Pull request #364: add slc build in jenkins file using zap binary
  Jenkinsfile
  pipeline_metadata.yml
Owners: @@MatterWatt, @@CICD

Pull request #361: Main refactor
  examples/platform/efr32/init_efrPlatform.cpp
  slc/sample-app/lock-app/include/app.h
  slc/sample-app/lock-app/lock-app.slcp
  slc/sample-app/lock-app/src/main.cpp
Owners: @@MatterGSDK

Pull request #367: Introduce cluster components for Matter
  matter.slce
  matter.slsdk
  slc/component/matter-clusters/matter_level_control.slcc
  slc/component/matter-clusters/matter_on_off.slcc
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/cluster-to-component-dependencies.json
Owners: @@MatterGSDK

Pull request #386: update matter extension version number
  matter.slce
  matter.slsdk
  slc/sample-app/lock-app/lock-app.slcp
Owners: none

Pull request #369: MATTER-1004 Discriminator gets lost and is not present in rtt logs
  slc/sample-app/lock-app/lock-app.slcp
Owners: none

Pull request #382: Expand SLC builds to supported boards
  Jenkinsfile
  pipeline_metadata.yml
Owners: @@MatterWatt, @@CICD

Pull request #398: Skip SLC code size analysis stage for now
  Jenkinsfile
Owners: @@MatterWatt, @@CICD

Pull request #407: Updated slcc components and json
  slc/component/matter-clusters/matter_BDXDownloader.slcc
  slc/component/matter-clusters/matter_BindingManager.slcc
  slc/component/matter-clusters/matter_DefaultOTARequestor.slcc
  slc/component/matter-clusters/matter_DefaultOTARequestorDriver.slcc
  slc/component/matter-clusters/matter_DefaultOTARequestorStorage.slcc
  slc/component/matter-clusters/matter_ExtendedOTARequestorDriver.slcc
  slc/component/matter-clusters/matter_OTATestEventTriggerDelegate.slcc
  slc/component/matter-clusters/matter_PendingNotificationMap.slcc
  slc/component/matter-clusters/matter_account_login.slcc
  slc/component/matter-clusters/matter_application_basic.slcc
  slc/component/matter-clusters/matter_application_launcher.slcc
  slc/component/matter-clusters/matter_audio_output.slcc
  slc/component/matter-clusters/matter_bindings.slcc
  slc/component/matter-clusters/matter_channel.slcc
  slc/component/matter-clusters/matter_content_launch.slcc
  slc/component/matter-clusters/matter_door_lock_callback.slcc
  slc/component/matter-clusters/matter_keypad_input.slcc
  slc/component/matter-clusters/matter_low_power.slcc
  slc/component/matter-clusters/matter_media_input.slcc
  slc/component/matter-clusters/matter_media_playback.slcc
  slc/component/matter-clusters/matter_occupancy_sensor.slcc
  slc/component/matter-clusters/matter_ota_provider.slcc
  slc/component/matter-clusters/matter_ota_requestor.slcc
  slc/component/matter-clusters/matter_target_navigator.slcc
  slc/component/matter-clusters/matter_wake_on_lan.slcc
  slc/component/matter-clusters/matter_window_covering.slcc
  src/app/zap-templates/cluster-to-component-dependencies.json
Owners: @@MatterGSDK

Pull request #403: Script to update Matter extension version
  slc/script/update_version.py
Owners: none

Pull request #409: Enable lighting, light-switch and thermostat apps to be built
  Jenkinsfile
  matter_templates.xml
  slc/component/matter-core/app_common.slcc
  slc/component/matter-core/lock_common.slcc
  slc/sample-app/light-switch-app/light-switch-app.slcp
  slc/sample-app/lighting-app/lighting-app.slcp
  slc/sample-app/lock-app/lock-app.slcp
  slc/sample-app/thermostat/thermostat.slcp
  slc/sample-app/window-app/window-app.slcp
  slc/script/gen_components.py
Owners: @@MatterWatt, @@CICD

Pull request #401: Set prop.file.zcl.templateJsonFile, bump extension version to 0.0.4
  matter.slce
  matter.slsdk
  pipeline_metadata.yml
  slc/copy-extension.sh
  slc/sample-app/light-switch-app/light-switch-app.slcp
  slc/sample-app/lighting-app/lighting-app.slcp
  slc/sample-app/lock-app/lock-app.slcp
  slc/sample-app/thermostat/thermostat.slcp
  slc/sample-app/window-app/window-app.slcp
Owners: none

Pull request #415: Update to GSDK version 4.2 RC4
  .gitmodules
  pipeline_metadata.yml
Owners: none

Pull request #423: Update to the latest ZAP, change extension directory name to matter_extension
  Jenkinsfile
  slc/build.sh
  slc/copy-extension.sh
Owners: @@MatterWatt, @@CICD

Pull request #424: Update the extension version to 0.0.5
  matter.slce
  matter.slsdk
  pipeline_metadata.yml
  slc/sample-app/light-switch-app/light-switch-app-no-led.slcp
  slc/sample-app/light-switch-app/light-switch-app.slcp
  slc/sample-app/lighting-app/lighting-app-no-led.slcp
  slc/sample-app/lighting-app/lighting-app.slcp
  slc/sample-app/lock-app/lock-app-no-led.slcp
  slc/sample-app/lock-app/lock-app.slcp
  slc/sample-app/thermostat/thermostat-no-led.slcp
  slc/sample-app/thermostat/thermostat.slcp
  slc/sample-app/window-app/window-app-no-led.slcp
  slc/sample-app/window-app/window-app.slcp
Owners: none

Pull request #430: Removed GSDK_TODO related to matter 814
  src/platform/EFR32/CHIPCryptoPALPsaEfr32.cpp
Owners: @@MatterGSDK

CODEOWNERS:

# Avoid codeowners only for cherry-pick pull requests
CODEOWNERS.source_branch_exclusion_pattern cherry-pick/**

@@@MatterCSA @jumartin @jepenven @ricasall @makardou @selissia
@@@MatterWatt @jumartin @jepenven @ricasall @makardou @selissia @rerasool
@@@MatterWifi @mamehta
@@@Documentation @wehale @caowens @rerasool
@@@Unify @anesbens @dejensen @thbowley @dewassie @svradema @jsolesen
@@@CICD @gbash @yushu @shmakdis @jepenven
@@@MatterGSDK @selissia @ricasall @mirupp @curahman @huelsher

# Pipeline rule
Jenkinsfile @@MatterWatt @@CICD
silabs_ci_scripts/ @@MatterWatt @@CICD

# Documentation is everyone business
**/*.md @@Documentation

# Shared folder with CSA
build/ @@MatterGSDK
build_overrides/ @@MatterGSDK
config/ @@MatterGSDK
credentials/ @@MatterGSDK
docs/ @@MatterGSDK
examples/ @@MatterGSDK
integrations/ @@MatterGSDK
scripts/ @@MatterGSDK
src/ @@MatterGSDK
third_party/ @@MatterGSDK
zzz_generated/ @@MatterGSDK


silabs_examples/ @@MatterWatt @@MatterWifi

silabs_examples/unify-matter-bridge/ @@Unify

CODEOWNERS               @@MatterWatt



# If a group is involved, at least one reviewer of the group must approve
(Check(@@MatterGSDK >= 1))

OverallCheck(1)
