Repository mkardous-silabs/connectedhomeip, changes with the owners that CODEOWNERS names for each.
All owners: @jumartin, @jepenven, @ricasall, @makardou, @selissia, @rerasool, @mamehta, @wehale, @caowens, @anesbens, @dejensen, @thbowley, @dewassie, @svradema, @jsolesen, @gbash, @yushu, @shmakdis, @mirupp, @curahman, @huelsher, @@MatterWatt, @@CICD, @@Documentation, @@MatterGSDK, @@MatterWifi, @@Unify

CODEOWNERS:

# Avoid codeowners only for cherry-pick pull requests
CODEOWNERS.source_branch_exclusion_pattern cherry-pick/**

@@@MatterCSA @jumartin @jepenven @ricasall @makardou @selissia
@@@MatterWatt @jumartin @jepenven @ricasall @makardou @selissia @rerasool
@@@MatterWifi @mamehta
@@@Documentation @wehale @caowens @rerasool
@@@Unify @anesbens @dejensen @thbowley @dewassie @svradema @jsolesen
@@@CICD @gbash @yushu @shmakdis @jepenven
@@@MatterGSDK @selissia @ricasall @mirupp @curahman @huelsher

# Pipeline rule
Jenkinsfile @@MatterWatt @@CICD
silabs_ci_scripts/ @@MatterWatt @@CICD

# Documentation is everyone business
**/*.md @@Documentation

# Shared folder with CSA
build/ @@MatterGSDK
build_overrides/ @@MatterGSDK
config/ @@MatterGSDK
credentials/ @@MatterGSDK
docs/ @@MatterGSDK
examples/ @@MatterGSDK
integrations/ @@MatterGSDK
scripts/ @@MatterGSDK
src/ @@MatterGSDK
third_party/ @@MatterGSDK
zzz_generated/ @@MatterGSDK


silabs_examples/ @@MatterWatt @@MatterWifi

silabs_examples/unify-matter-bridge/ @@Unify

CODEOWNERS               @@MatterWatt



# If a group is involved, at least one reviewer of the group must approve
(Check(@@MatterGSDK >= 1))

OverallCheck(1)

Pull request #427: Adding C variant of BRD4186/BRD4187
  matter_templates.xml
  slc/sample-app/light-switch-app/light-switch-app.slcp
  slc/sample-app/lighting-app/lighting-app.slcp
  slc/sample-app/lock-app/lock-app.slcp
  slc/sample-app/thermostat/thermostat.slcp
  slc/sample-app/window-app/window-app.slcp
Owners: none

Pull request #428: Slc container3
  Jenkinsfile
Owners: @@MatterWatt, @@CICD

Pull request #421: Enable configurable additional ble advertising
  slc/build.sh
  slc/component/matter-core/efr32.slcc
  slc/component/matter-silabs/matter_gatt.slcc
  slc/component/matter-silabs/matter_gatt_additional_advertising.slcc
  slc/inc/platform/CHIPDeviceBuildConfig.h
  slc/inc/setup_payload/CHIPAdditionalDataPayloadBuildConfig.h
  slc/sample-app/light-switch-app/light-switch-app-no-led.slcp
  slc/sample-app/light-switch-app/light-switch-app.slcp
  slc/sample-app/lighting-app/lighting-app-no-led.slcp
  slc/sample-app/lighting-app/lighting-app.slcp
  slc/sample-app/lock-app/lock-app-no-led.slcp
  slc/sample-app/lock-app/lock-app.slcp
  slc/sample-app/thermostat/thermostat-no-led.slcp
  slc/sample-app/thermostat/thermostat.slcp
  slc/sample-app/window-app/window-app-no-led.slcp
  slc/sample-app/window-app/window-app.slcp
  slc/script/gen_components.py
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/EFR32/BLEManagerImpl.h
  src/platform/EFR32/btconf/gatt_configuration.btconf
  src/platform/EFR32/btconfC3/gatt_configuration.btconf
Owners: @@MatterGSDK

Pull request #422: Append thread to slcp filenames; update build.sh and Jenkinsfile accordingly
  Jenkinsfile
  matter_templates.xml
  slc/build.sh
  slc/sample-app/light-switch-app/light-switch-app-no-led-thread.slcp
  slc/sample-app/light-switch-app/light-switch-app-thread.slcp
  slc/sample-app/lighting-app/lighting-app-no-led-thread.slcp
  slc/sample-app/lighting-app/lighting-app-thread.slcp
  slc/sample-app/lock-app/lock-app-no-led-thread.slcp
  slc/sample-app/lock-app/lock-app-thread.slcp
  slc/sample-app/thermostat/thermostat-no-led-thread.slcp
  slc/sample-app/thermostat/thermostat-thread.slcp
  slc/sample-app/window-app/window-app-no-led-thread.slcp
  slc/sample-app/window-app/window-app-thread.slcp
Owners: @@MatterWatt, @@CICD

Pull request #431: Fix window app
  Jenkinsfile
  matter_templates.xml
  slc/component/matter-silabs/matter_platform_efr32.slcc
  slc/copy-app.sh
  slc/sample-app/window-app/include/WindowApp.h
  slc/sample-app/window-app/include/app.h
  slc/sample-app/window-app/src/WindowApp.cpp
  slc/sample-app/window-app/src/ZclCallbacks.cpp
  slc/sample-app/window-app/src/main.cpp
  slc/sample-app/window-app/window-app-no-led-thread.slcp
  slc/sample-app/window-app/window-app-thread.slcp
Owners: @@MatterWatt, @@CICD, @@MatterGSDK

Pull request #432: Fix thermostat app not building for BRD4166A
  slc/sample-app/thermostat/thermostat-thread.slcp
Owners: none

Pull request #436: fix boards with no lcd
  slc/sample-app/thermostat/thermostat-no-led-thread.slcp
  slc/sample-app/thermostat/thermostat-thread.slcp
  slc/sample-app/window-app/window-app-no-led-thread.slcp
  slc/sample-app/window-app/window-app-thread.slcp
Owners: none

Pull request #437: Bugfix/matter logging
  slc/build.sh
  slc/config/sl_matter_config.h
Owners: @@MatterGSDK

Pull request #438: change chip-tool stash path
  Jenkinsfile
Owners: @@MatterWatt, @@CICD

Pull request #443: remove thread
  Jenkinsfile
Owners: @@MatterWatt, @@CICD

Pull request #441: Add matter demos to Matter Extension
  matter.slsdk
  matter_demos.xml
  matter_templates.xml
  slc/copy-extension.sh
Owners: none

Pull request #440: Added components for temp sensor functionality in Thermostat
  slc/component/matter-silabs/matter_temperature_sensor.slcc
  slc/sample-app/thermostat/thermostat-no-led-thread.slcp
  slc/sample-app/thermostat/thermostat-thread.slcp
Owners: none

Pull request #445: Update Jenkinsfile stash names to fix SQA stage
  Jenkinsfile
Owners: @@MatterWatt, @@CICD

Pull request #451: Removed unsupported boards for thermostat from CI
  Jenkinsfile
Owners: @@MatterWatt, @@CICD

Pull request #450: removing .yaml extension
  Jenkinsfile
Owners: @@MatterWatt, @@CICD

Pull request #447: OTA Software Update: Enable external Flash on MG24 and MGM24 boards
  slc/component/matter-silabs/matter_drivers_series_1.slcc
  slc/component/matter-silabs/matter_drivers_series_2.slcc
  slc/component/matter-silabs/matter_uart.slcc
  slc/sample-app/light-switch-app/light-switch-app-no-led-thread.slcp
  slc/sample-app/light-switch-app/light-switch-app-thread.slcp
  slc/sample-app/lighting-app/lighting-app-no-led-thread.slcp
  slc/sample-app/lighting-app/lighting-app-thread.slcp
  slc/sample-app/lock-app/lock-app-no-led-thread.slcp
  slc/sample-app/lock-app/lock-app-thread.slcp
  slc/sample-app/thermostat/thermostat-no-led-thread.slcp
  slc/sample-app/thermostat/thermostat-thread.slcp
  slc/sample-app/window-app/window-app-no-led-thread.slcp
  slc/sample-app/window-app/window-app-thread.slcp
Owners: none

Pull request #392: gsdk slc integration for wifi
  Jenkinsfile
  matter.slce
  matter_templates.xml
  slc/component/matter-core/dnssd.slcc
  slc/component/matter-core/efr32.slcc
  slc/component/matter-core/libdevicelayer.slcc
  slc/component/matter-core/libinetlayer.slcc
  slc/component/matter-wifi/example_platform_efr32_common.slcc
  slc/component/matter-wifi/matter_lwip.slcc
  slc/component/matter-wifi/matter_src_platform_EFR32.slcc
  slc/component/matter-wifi/rs911x/example_platform_efr32_rs911x.slcc
  slc/component/matter-wifi/wf200/example_platform_efr32_wf200.slcc
  slc/component/matter-wifi/wiseconnect_sapi.slcc
  slc/copy-extension.sh
  slc/inc/brd4161a.h
  slc/inc/brd4186c.h
  slc/inc/inet/InetBuildConfig.h
  slc/inc/lwip/lwip_buildconfig.h
  slc/inc/system/SystemBuildConfig.h
  slc/sample-app/light-switch-app/light-switch-app-mg12-rs911x.slcp
  slc/sample-app/light-switch-app/light-switch-app-mg24-rs911x.slcp
  slc/sample-app/lighting-app/lighting-app-mg12-rs911x.slcp
  slc/sample-app/lighting-app/lighting-app-mg24-rs911x.slcp
  slc/sample-app/lock-app/lock-app-mg12-rs911x.slcp
  slc/sample-app/lock-app/lock-app-mg24-rs911x.slcp
  slc/sample-app/thermostat/thermostat-mg12-rs911x.slcp
  slc/sample-app/thermostat/thermostat-mg24-rs911x.slcp
  slc/sample-app/window-app/window-app-mg12-rs911x.slcp
  slc/sample-app/window-app/window-app-mg24-rs911x.slcp
Owners: @@MatterWatt, @@CICD

Pull request #453: Removed TODO's within code
  slc/inc/platform/CHIPDeviceBuildConfig.h
  slc/sample-app/common/app.h
  slc/sample-app/light-switch-app/src/AppTask.cpp
  slc/sample-app/light-switch-app/src/ZclCallbacks.cpp
  slc/sample-app/lighting-app/src/ZclCallbacks.cpp
  slc/sample-app/thermostat/src/SensorManager.cpp
  src/platform/EFR32/CHIPCryptoPALPsaEfr32.cpp
Owners: @@MatterGSDK

Pull request #452: OpenThread border Router pointer project
  matter_templates.xml
  slc/sample-app/openthread-border-router-doc/README.md
  slc/sample-app/openthread-border-router-doc/openthread-border-router-doc.slcp
Owners: @@Documentation

Pull request #454: Fix to SED and low_power to avoid redefines and have different name from the low-power cluster
  slc/component/matter-silabs/matter.slcc
  slc/component/matter-silabs/matter_platform_low_power.slcc
  slc/component/matter-silabs/matter_sed.slcc
Owners: none

Pull request #455: Update README files to account for Wi-Fi examples
  slc/sample-app/light-switch-app/README.md
  slc/sample-app/light-switch-app/light-switch-app-mg12-rs911x.slcp
  slc/sample-app/light-switch-app/light-switch-app-mg24-rs911x.slcp
  slc/sample-app/lighting-app/README.md
  slc/sample-app/lighting-app/lighting-app-mg12-rs911x.slcp
  slc/sample-app/lighting-app/lighting-app-mg24-rs911x.slcp
  slc/sample-app/lock-app/README.md
  slc/sample-app/lock-app/lock-app-mg12-rs911x.slcp
  slc/sample-app/lock-app/lock-app-mg24-rs911x.slcp
  slc/sample-app/thermostat/README.md
  slc/sample-app/thermostat/thermostat-mg12-rs911x.slcp
  slc/sample-app/thermostat/thermostat-mg24-rs911x.slcp
  slc/sample-app/window-app/README.md
  slc/sample-app/window-app/window-app-mg12-rs911x.slcp
  slc/sample-app/window-app/window-app-mg24-rs911x.slcp
Owners: @@Documentation

Pull request #458: Feature/silabs slc 1.0 wifi doc fixes
  docs/silabs/wifi/BUILD_CHIP_ENV.md
  docs/silabs/wifi/BUILD_PI_ENV.md
  docs/silabs/wifi/DEMO_OVERVIEW.md
  docs/silabs/wifi/RUN_DEMO.md
  docs/silabs/wifi/SW_SETUP.md
Owners: @@MatterGSDK

Pull request #457: added additional wifi boards to matter demos
  matter_demos.xml
Owners: none

Pull request #459: MATTER-1044: Require device_init_dpll component on Series 2
  slc/component/matter-silabs/matter_drivers_series_2.slcc
Owners: none

Pull request #460: Update copy script and add README
  slc/EXTENSION_README.md
  slc/copy-extension.sh
Owners: @@Documentation

Pull request #462: minor modifications
  matter.slce
  matter.slsdk
  matter_demos.xml
  pipeline_metadata.yml
  slc/sample-app/light-switch-app/light-switch-app-mg12-rs911x.slcp
  slc/sample-app/light-switch-app/light-switch-app-mg24-rs911x.slcp
  slc/sample-app/light-switch-app/light-switch-app-no-led-thread.slcp
  slc/sample-app/light-switch-app/light-switch-app-thread.slcp
  slc/sample-app/lighting-app/lighting-app-mg12-rs911x.slcp
  slc/sample-app/lighting-app/lighting-app-mg24-rs911x.slcp
  slc/sample-app/lighting-app/lighting-app-no-led-thread.slcp
  slc/sample-app/lighting-app/lighting-app-thread.slcp
  slc/sample-app/lock-app/lock-app-mg12-rs911x.slcp
  slc/sample-app/lock-app/lock-app-mg24-rs911x.slcp
  slc/sample-app/lock-app/lock-app-no-led-thread.slcp
  slc/sample-app/lock-app/lock-app-thread.slcp
  slc/sample-app/thermostat/thermostat-mg12-rs911x.slcp
  slc/sample-app/thermostat/thermostat-mg24-rs911x.slcp
  slc/sample-app/thermostat/thermostat-no-led-thread.slcp
  slc/sample-app/thermostat/thermostat-thread.slcp
  slc/sample-app/window-app/window-app-mg12-rs911x.slcp
  slc/sample-app/window-app/window-app-mg24-rs911x.slcp
  slc/sample-app/window-app/window-app-no-led-thread.slcp
  slc/sample-app/window-app/window-app-thread.slcp
Owners: none

Pull request #461: add wifi test
  Jenkinsfile
Owners: @@MatterWatt, @@CICD

Pull request #463: Added README-WiFi.md for all WiFi Apps supported
  slc/sample-app/light-switch-app/README _WiFi.md
  slc/sample-app/light-switch-app/light-switch-app-mg12-rs911x.slcp
  slc/sample-app/light-switch-app/light-switch-app-mg24-rs911x.slcp
  slc/sample-app/lighting-app/README_WiFi.md
  slc/sample-app/lighting-app/lighting-app-mg12-rs911x.slcp
  slc/sample-app/lighting-app/lighting-app-mg24-rs911x.slcp
  slc/sample-app/lock-app/README _WiFi.md
  slc/sample-app/lock-app/lock-app-mg12-rs911x.slcp
  slc/sample-app/lock-app/lock-app-mg24-rs911x.slcp
  slc/sample-app/thermostat/README_WiFi.md
  slc/sample-app/thermostat/thermostat-mg12-rs911x.slcp
  slc/sample-app/thermostat/thermostat-mg24-rs911x.slcp
  slc/sample-app/window-app/README_WiFi.md
  slc/sample-app/window-app/window-app-mg12-rs911x.slcp
  slc/sample-app/window-app/window-app-mg24-rs911x.slcp
Owners: @@Documentation

Pull request #464: Fix WiFi Readme names
  slc/sample-app/light-switch-app/README_WiFi.md
  slc/sample-app/lock-app/README_WiFi.md
Owners: @@Documentation

proof of concept
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/BleManagerHelper.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/efr32/BleManagerHelper.cpp
Owners: @@MatterGSDK

final class refactor design
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/BleManagerHelper.cpp
  src/platform/silabs/BleManagerHelper.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/efr32/BleManagerHelper.cpp
Owners: @@MatterGSDK

refactor depracted soft timer
  src/platform/silabs/BleManagerAbstraction.cpp
  src/platform/silabs/BleManagerAbstraction.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
Owners: @@MatterGSDK

implement virtual interface
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/BleManagerAbstraction.cpp
  src/platform/silabs/BleManagerAbstraction.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
Owners: @@MatterGSDK

First draft of refactor
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/BleManagerAbstraction.cpp
  src/platform/silabs/BleManagerAbstraction.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/efr32/BUILD.gn
Owners: @@MatterGSDK

rip out wifi code
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/BleManagerAbstraction.cpp
  src/platform/silabs/BleManagerAbstraction.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
Owners: @@MatterGSDK

Creation of new Silabs documentation \
  docs/guides/README.md
  docs/guides/darwin.md
  docs/guides/images/silabs_logo.png
  docs/guides/index.md
  docs/guides/silabs_cli_guide.md
  docs/guides/silabs_common_app_behavior.md
  docs/guides/silabs_efr32_building.md
  docs/guides/silabs_getting_started.md
Owners: @@MatterGSDK

Fix 917 ICD builds
  third_party/silabs/lwip.gni
Owners: @@MatterGSDK

WIP
  src/platform/silabs/CHIPPlatformConfig.h
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/SiWx917/CHIPCryptoPALTinyCrypt.cpp
  src/platform/silabs/SiWx917/siwx917-chip-mbedtls-config.h
  src/platform/silabs/efr32/BUILD.gn
  third_party/silabs/SiWx917_sdk.gni
Owners: @@MatterGSDK

Update all sdks to new verions
  .gitmodules
Owners: none

9116 changes to support sdk update
  examples/platform/silabs/efr32/rs911x/rsi_if.c
  third_party/silabs/efr32_sdk.gni
Owners: @@MatterGSDK
